
body{
    display: flex;
    height: 90vh;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: #F1F1FF;
}

.calcBody{
    display: flex;
    flex-direction: column;
    border: solid #000;
    border-width: 1px;
    border-radius: 4%;
    padding: 9px;
}

.numPad{
    display: grid;
    grid-template-columns: repeat(4, minmax(60px , auto));
    grid-template-rows: repeat(5, minmax(50px , auto)) ;
    gap: 20px;
    margin-top: 9px;
}

button{
    padding: 10px;
    background-color: #93C6E7;
    border-width: 2px;
    border-color: #93C6E8;
    border-radius: 4%;
}
button:hover{
    background-color: #AEE2FF;
}

.screenContainer{
    
    
    border: solid #000;
    border-width: 1px;
    border-radius: 3%;
    height: 80px;
    text-align: right;
    padding: 8px 8px 0px 8px;   
    margin-bottom: 20px;
}

.upperScreen{
    height: 40px;
    font-size: small;
}
.lowerScreen{
    font-size: larger;

}
.lowerScreen .upperScreen{
    border: solid #000;
    border-width: 1px;
    border-radius: 3%;
    text-align: right;
    padding: 8px;
}