
body{
    display: flex;
    height: 90vh;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.calcBody{
    display: flex;
    flex-direction: column;
    border: solid #000;
    border-width: 1px;
    border-radius: 3%;
    padding: 9px;
}

.numPad{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 30px;
    margin-top: 9px;
}

button{
    padding: 10px;
    display: flex;
    justify-content: center;
}

.screenContainer{
    
    
    border: solid #000;
    border-width: 1px;
    border-radius: 3%;
    height: 80px;
    text-align: right;
    padding: 8px 8px 0px 8px;   
    margin-bottom: 20px;
}

.upperScreen{
    height: 40px;
    font-size: small;
}
.lowerScreen{
    font-size: larger;

}
.lowerScreen .upperScreen{
    border: solid #000;
    border-width: 1px;
    border-radius: 3%;
    text-align: right;
    padding: 8px;
}